<div>
  <img src="/assets/profile-pic.webp" alt="Headshot of Maxi Ferreira">
  <p>
    Oi, eu sou o Rodrigo — apaixonado pela interseção entre tecnologia, comportamento humano e bem-estar mental. Exploro como o mundo digital impacta nossa saúde emocional e compartilho reflexões sobre como construir uma relação mais saudável e intencional com a tecnologia.
  </p>
</div>

<style>
  div {
    align-items: center;
    display: flex;
  }

  img {
    width: 100px;
    height: 100px;
    border-radius: 100px;
    display: block;
    margin-right: 20px;
  }

  p {
    font-size: 1.125rem;
  }
</style>
