<div>
  <img src="/assets/profile-pic.webp" alt="Headshot of Maxi Ferreira">
  <p>
    Hi, I’m Rodrigo — a product marketer passionate about the intersection of technology, human behavior, and mental well-being. I explore how the digital world shapes our emotional health and share insights on building healthier, more intentional relationships with technology.
  </p>
</div>

<style>
  div {
    align-items: center;
    display: flex;
  }

  img {
    width: 100px;
    height: 100px;
    border-radius: 100px;
    display: block;
    margin-right: 20px;
  }

  p {
    font-size: 1.125rem;
  }
</style>
